.custom-footer{
    width: 100%;
    z-index: 2000;
    margin-bottom: 1px;
    
}

.footer-icon{
    color: black;
    transition: 0.3s;
    transform: scale(1.2);
}

.footer-icon:hover {
transform: scale(1.4);
color: #0846a2d4; /* Bootstrap primary blue */
}
